---
import Main from "../layouts/Main.astro";
import "../styles/global.css";

// import Header from "../components/header";
---

<!-- <Header client:only="react" /> -->
<Main>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, tempore quisquam maxime ipsum vitae voluptatum
      impedit. Vitae suscipit quos ratione molestias animi atque harum saepe? Quod odit sapiente officiis aperiam.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam libero ut corporis eos labore facilis
      quisquam dolor consequatur dolores at, veritatis delectus saepe numquam quibusdam explicabo maiores aliquam
      reiciendis laborum.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ut rerum eum, quis, cum laborum at illum quas sapiente
      mollitia, amet eligendi. Vitae praesentium laudantium quos rerum, ex aut aperiam?
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, tempore quisquam maxime ipsum vitae voluptatum
      impedit. Vitae suscipit quos ratione molestias animi atque harum saepe? Quod odit sapiente officiis aperiam.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam libero ut corporis eos labore facilis
      quisquam dolor consequatur dolores at, veritatis delectus saepe numquam quibusdam explicabo maiores aliquam
      reiciendis laborum.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ut rerum eum, quis, cum laborum at illum quas sapiente
      mollitia, amet eligendi. Vitae praesentium laudantium quos rerum, ex aut aperiam?
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, tempore quisquam maxime ipsum vitae voluptatum
      impedit. Vitae suscipit quos ratione molestias animi atque harum saepe? Quod odit sapiente officiis aperiam.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam libero ut corporis eos labore facilis
      quisquam dolor consequatur dolores at, veritatis delectus saepe numquam quibusdam explicabo maiores aliquam
      reiciendis laborum.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ut rerum eum, quis, cum laborum at illum quas sapiente
      mollitia, amet eligendi. Vitae praesentium laudantium quos rerum, ex aut aperiam?
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, tempore quisquam maxime ipsum vitae voluptatum
      impedit. Vitae suscipit quos ratione molestias animi atque harum saepe? Quod odit sapiente officiis aperiam.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam libero ut corporis eos labore facilis
      quisquam dolor consequatur dolores at, veritatis delectus saepe numquam quibusdam explicabo maiores aliquam
      reiciendis laborum.
    </p>
    <br />
    <br />
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ut rerum eum, quis, cum laborum at illum quas sapiente
      mollitia, amet eligendi. Vitae praesentium laudantium quos rerum, ex aut aperiam?
    </p>
    <br />
    <br />
    <br />
  </div>
</Main>
<!-- <Footer /> -->
